{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Utilisateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Bienvenue sur votre tableau de bord</h1>
    <p>Contenu spécifique pour l'utilisateur standard.</p>
</div>
{% endblock %}
